* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  list-style: none; }

a {
  text-decoration: none; }

/***** nav *****/
.navbar {
  margin: 0px 0px 5px 0px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 50px;
  background-color: #d1f0de;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  display: flex; }
  .navbar ul {
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: fadeInDown; }
    .navbar ul li {
      font-weight: 400;
      font-size: 25px;
      font-family: "Inconsolata", monospace;
      list-style: none; }
      .navbar ul li a {
        text-decoration: none;
        color: white;
        transition: color; }
        .navbar ul li a:hover {
          color: #014d4a; }

.btn-outline-success {
  color: #7EA38D;
  border-color: #7EA38D; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

/***** INDEX *****/
.about {
  margin-top: 60px;
  padding: 60px 0; }
  .about .about__texto {
    color: #23c7ac;
    margin: 0px 30px 0px 0px;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-name: slideInUp; }
  .about .about__h2 {
    color: #1b9b85;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-name: slideInUp; }

.container-fluid img {
  max-width: 100%; }

/* index imprenta */
.imprentaIndex {
  margin-top: 15px; }
  .imprentaIndex .imprentaIndex__h2 {
    padding-left: 30px;
    color: #9a0548; }
  .imprentaIndex .imprentaIndex__texto {
    padding-left: 30px;
    color: #9a0548; }

.imprentaIndex__button {
  margin-left: 30px;
  width: 260px;
  border-radius: 15px;
  border: 1px solid #ce357a;
  background-color: #ce357a;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 2px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in; }
  .imprentaIndex__button a {
    text-decoration: none;
    color: #feeef5;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: color; }
    .imprentaIndex__button a:hover {
      color: white; }

/* index sublimacion */
.sublimacionIndex {
  margin-top: 60px; }
  .sublimacionIndex .sublimacionIndex__h2 {
    padding-right: 30px;
    color: #e7c604; }
  .sublimacionIndex .sublimacionIndex__texto {
    padding-right: 30px;
    color: #e7c604; }

.sublimacionIndex__button {
  width: 260px;
  border-radius: 15px;
  border: 1px solid #fcf295;
  background-color: #fcf295;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 2px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in; }
  .sublimacionIndex__button a {
    text-decoration: none;
    color: #9c8506;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: color; }
    .sublimacionIndex__button a:hover {
      color: white; }

/* index serigrafia */
.serigrafiaIndex {
  margin-top: 60px;
  margin-bottom: 60px; }
  .serigrafiaIndex .serigrafiaIndex__h2 {
    padding-left: 30px;
    color: #3281b2; }
  .serigrafiaIndex .serigrafiaIndex__texto {
    padding-left: 30px;
    color: #3281b2; }

.serigrafiaIndex__button {
  margin-left: 30px;
  width: 260px;
  border-radius: 15px;
  border: 1px solid #0670b1;
  background-color: #0670b1;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 2px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in; }
  .serigrafiaIndex__button a {
    text-decoration: none;
    color: #cdeafc;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: color; }
    .serigrafiaIndex__button a:hover {
      color: white; }

/* index destacados */
.destacados__separador img {
  display: block;
  margin: auto;
  margin-bottom: 10px; }

.destacados__h2 {
  padding-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #418A88; }

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff; }

.thumbnail__caption, .productosImprenta__caption {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  padding-top: 15px; }

/* boton destacados*/
.thumbnail__button, .productosImprenta .productosImprenta__button {
  border-radius: 15px;
  border: 1px solid #B2D9CD;
  background-color: #B2D9CD;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 2px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in; }
  .thumbnail__button a, .productosImprenta .productosImprenta__button a {
    color: #627068;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: color;
    text-decoration: none; }
    .thumbnail__button a:hover, .productosImprenta .productosImprenta__button a:hover {
      color: white; }

/***** footer *****/
footer {
  padding: 25px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 15px; }
  footer hr {
    border-color: #ededed; }

.fotosImprenta p {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  text-align: center;
  padding-top: 15px; }

/***** page sublimacion *****/
.separadorEstrellaSubli img {
  display: block;
  margin: auto;
  padding-bottom: 10px; }

.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden; }

.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.imprentaFotoTexto__foto img, .sublimacionFotoTexto__foto img, .serigrafiaFotoTexto__foto img {
  max-width: 100%; }

/**************** PAGE IMPRENTA***********/
.imprentaTitulo {
  margin-top: 65px; }
  .imprentaTitulo .imprentaTitulo__separador img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%; }
  .imprentaTitulo .imprentaTitulo__h2 {
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #418A88; }

.productosImprenta .productosImprenta__button {
  margin-bottom: 15px; }

/************** PAGE SUBLIMACION***********/
.sublimacionTitulo {
  margin-top: 85px; }
  .sublimacionTitulo .sublimacionTitulo__h2 {
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #418A88; }
  .sublimacionTitulo .sublimacionTitulo__separador img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%;
    margin-bottom: 7px; }
  .sublimacionTitulo .sublimacionTitulo__p {
    text-align: center; }

/********** PAGE SERIGRAFIA ***************/
.serigrafiaTitulo {
  margin-top: 70px; }
  .serigrafiaTitulo .serigrafiaTitulo__h2 {
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #418A88; }
  .serigrafiaTitulo .serigrafiaTitulo__separador img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%;
    margin-bottom: 7px; }
  .serigrafiaTitulo .serigrafiaTitulo__p {
    text-align: center; }

.serigrafiaGaleria {
  margin: 5px 0px 5px 0px; }

/*********** PAGE NOSOTROS *********/
.nosotrosTitulo {
  margin-top: 70px; }
  .nosotrosTitulo .nosotrosTitulo__h2 {
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #418A88; }
  .nosotrosTitulo .nosotrosTitulo__separador img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%;
    margin-bottom: 7px; }

/********* PAGE CONTACTO ********/
.contactoTitulo {
  margin-top: 70px; }
  .contactoTitulo .contactoTitulo__h2 {
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #418A88; }
  .contactoTitulo .contactoTitulo__separador img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%;
    margin-bottom: 7px; }

/**************************
***************************
prueba new form */
.containerContacto1 form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 600px; }

.containerContacto1 form input:hover {
  border-color: #28a745; }

.containerContacto1 form input, .containerContacto1 form textarea {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc; }

button, input {
  overflow: visible; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.containerContacto1 input[type=submit]:hover {
  background-color: #28a745; }

.containerContacto1 form input:hover {
  border-color: #28a745; }

.containerContacto1 input[type=submit] {
  border-radius: 6px;
  border: 0px;
  background-color: #B2D9CD;
  color: #546862;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  max-width: 100px;
  cursor: pointer; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

.containerContacto1 form input, .containerContacto1 form textarea {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

button, input {
  overflow: visible; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.contactoDerecha {
  text-align: right; }

.contactoDir img {
  margin-right: 10px; }

.contactoTel img {
  margin-right: 10px; }

.contactoMail img {
  margin-right: 10px; }

.contactoHorario img {
  margin-right: 10px; }

.containerContacto1 container-fluid {
  max-width: 100%; }

/*EFECTOS*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
